<html>
	<head>
	  <meta charset="utf-8" /> 
	  <!-- Plotly.js -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="error"> <%= actualizando %> </div>
	</body>
</html>
