<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Numeric JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
h2 {
	text-align:center !important
}
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h1>KPIs</h1>

<div class="row">
  <div class="column">
    <h2>Precios</h2>
  <div id="Precios"><!-- Plotly chart will be drawn inside this DIV --></div>
  </div>
  <div class="column">
    <h2>Garantía</h2>
  <div id="Garantia"><!-- Plotly chart will be drawn inside this DIV --></div>
  </div>
  <div class="column">
    <h2>Tiempo de envío</h2>
  <div id="Tiempo"><!-- Plotly chart will be drawn inside this DIV --></div>
  </div>
  <div class="column">
    <h2>Interés</h2>
  <div id="Interes"><!-- Plotly chart will be drawn inside this DIV --></div>
  </div>
</div>

<script>
	var PE = <%= pre_E %>
	var PC = <%= pre_C %>
	
	var data = [{
	  values: [PE, PC],
	  labels: ['Elektra', 'Coppel'],
	  type: 'pie'
	}];

	Plotly.newPlot('Precios', data, {}, {showSendToCloud:true});  

	</script>
	
</body>
